
#cv-form{
    background-color: #58c0e39c;
    padding: 0.5px;
}


 #cv-template{
    max-width: 980px;
    display: none;
   
} 

.myimg{
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
}
